@use "../../gaps" as *;
@use "../../mixins" as *;

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form {
  display: flex;
  justify-self: start;
  align-self: self-start;
  flex-direction: column;
  gap: $gap3;
  padding: 0 $gap2;
  margin-top: $gap3;
  width: 100%;
  position: relative;

  .search input,
  .regions > div,
  .regions > ul {
    outline: none;
    border: none;
    border-radius: 5px;
    @include themify("background", "card");
    @include themify("box-shadow", "box-shadow");
    padding: $gap2 $gap2;
  }
  .search {
    @include themify("color", "inputText");
    position: relative;
  }

  .search input {
    width: 100%;
    padding: $gap2 0 $gap2 $gap4;
    position: relative;
    @include themify("color", "inputText");
    &::placeholder {
      color: currentColor;
      fill: currentColor;
    }
  }
  .search svg {
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $gap3;
  }
  .regions {
    cursor: pointer;
    width: 70%;
    position: relative;
    @include themify("color", "description");
    @include text("desc");
    z-index: 50;
    > div {
      position: relative;
      padding: $gap2 $gap3;
      svg {
        position: absolute;
        right: $gap2;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        fill: currentColor;
      }
    }
    > ul {
      width: 100%;
      margin-top: $gap0;
      padding: $gap2 $gap3;
      position: absolute;
      display: none;
      flex-direction: column;
      gap: $gap1;
      li {
        cursor: pointer;
      }
    }
  }
}
.countries {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 290px));
  grid-auto-rows: 1fr;
  gap: $gap4;
  margin-top: $gap4;
  padding: 0 $gap3;
  overflow: hidden;
  width: 100%;
}

.card {
  cursor: pointer;
  display: grid;
  border-radius: 5px;
  grid-template-rows: 1fr 1fr;
  @include themify("color", "title");
  @include themify("background", "card");
  @include themify("border-color", "border");
  @include themify("box-shadow", "box-shadow");
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.5;
  }
  .flag {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  .description {
    padding: $gap3;
    display: flex;
    flex-direction: column;
    gap: $gap2;
    width: fit-content;
    > p {
      @include text("title");
    }
    > div p {
      @include text("subtitle");
    }
    > div span {
      @include text("subtitle");
      font-weight: 300;
    }
  }
}

.active {
  display: flex !important;
}

@media (min-width: 1300px) {
  main {
    padding: 0 $gap4;
  }
  .form {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    .search {
      width: 50%;
    }
    .regions {
      width: 20%;
    }
  }
  .countries {
    justify-content: space-between;
    padding: 0;
  }
}
