.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  justify-self: start;
  align-self: self-start;
  flex-direction: column;
  gap: 32px;
  padding: 0 16px;
  margin-top: 32px;
  width: 100%;
  position: relative;
}
.form .search input,
.form .regions > div,
.form .regions > ul {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 16px 16px;
}
.form .search input.dark,
.form .regions > div.dark,
.form .regions > ul.dark {
  background: hsl(209, 23%, 22%);
}
.form .search input.light,
.form .regions > div.light,
.form .regions > ul.light {
  background: hsl(0, 0%, 100%);
}
.form .search input.dark,
.form .regions > div.dark,
.form .regions > ul.dark {
  box-shadow: 0 0 20px 0px hsla(200, 15%, 8%, 0.514);
}
.form .search input.light,
.form .regions > div.light,
.form .regions > ul.light {
  box-shadow: 0 0 20px 1px hsla(0, 0%, 52%, 0.212);
}
.form .search {
  position: relative;
}
.form .search.dark {
  color: hsl(0, 0%, 98%);
}
.form .search.light {
  color: hsl(0, 0%, 52%);
}
.form .search input {
  width: 100%;
  padding: 16px 0 16px 64px;
  position: relative;
}
.form .search input.dark {
  color: hsl(0, 0%, 98%);
}
.form .search input.light {
  color: hsl(0, 0%, 52%);
}
.form .search input::-moz-placeholder {
  color: currentColor;
  fill: currentColor;
}
.form .search input::placeholder {
  color: currentColor;
  fill: currentColor;
}
.form .search svg {
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 32px;
}
.form .regions {
  cursor: pointer;
  width: 70%;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  z-index: 50;
}
.form .regions.dark {
  color: hsl(0, 0%, 98%);
}
.form .regions.light {
  color: hsl(200, 15%, 8%);
}
.form .regions > div {
  position: relative;
  padding: 16px 32px;
}
.form .regions > div svg {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  fill: currentColor;
}
.form .regions > ul {
  width: 100%;
  margin-top: 4px;
  padding: 16px 32px;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 8px;
}
.form .regions > ul li {
  cursor: pointer;
}

.countries {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 290px));
  grid-auto-rows: 1fr;
  gap: 64px;
  margin-top: 64px;
  padding: 0 32px;
  overflow: hidden;
  width: 100%;
}

.card {
  cursor: pointer;
  display: grid;
  border-radius: 5px;
  grid-template-rows: 1fr 1fr;
  transition: opacity 0.2s;
}
.card.dark {
  color: hsl(0, 0%, 100%);
}
.card.light {
  color: hsl(200, 15%, 8%);
}
.card.dark {
  background: hsl(209, 23%, 22%);
}
.card.light {
  background: hsl(0, 0%, 100%);
}
.card.dark {
  border-color: hsl(209, 23%, 22%);
}
.card.light {
  border-color: hsl(0, 0%, 52%);
}
.card.dark {
  box-shadow: 0 0 20px 0px hsla(200, 15%, 8%, 0.514);
}
.card.light {
  box-shadow: 0 0 20px 1px hsla(0, 0%, 52%, 0.212);
}
.card:hover {
  opacity: 0.5;
}
.card .flag {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.card .description {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.card .description > p {
  font-size: 24px;
  font-weight: 800;
}
.card .description > div p {
  font-size: 16px;
  font-weight: 600;
}
.card .description > div span {
  font-size: 16px;
  font-weight: 600;
  font-weight: 300;
}

.active {
  display: flex !important;
}

@media (min-width: 1300px) {
  .form {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 64px;
  }
  .form .search {
    width: 50%;
  }
  .form .regions {
    width: 20%;
  }
  .countries {
    justify-content: space-between;
    padding: 0 64px;
  }
}/*# sourceMappingURL=Home.module.css.map */